In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from csv import reader
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

Matplotlib is building the font cache; this may take a moment.

In [51]:
df_raw = pd.read_csv("../Dataset/groceries3.csv")
df_raw.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
purchases = []
with open("../Dataset/groceries3.csv", 'r') as read_obj: # 'r' stands for read mode
    csv_reader = reader(read_obj)
    for row in csv_reader:
        purchases.append(row)

In [53]:
encoder = TransactionEncoder()
transactions = encoder.fit(purchases).transform(purchases) #.fit finds unique items in pruchases and identifies them. .transform converts this information into a binary form of true and false.

In [54]:
transactions = transactions.astype('int')

In [55]:
df = pd.DataFrame(transactions, columns=encoder.columns_) # up till cell 7, transactions was a list of listscontaining true and false values for each purchase. Now it is to be converted into a binary matrix data frame.

In [56]:
df.head()

,,1,10,11,12,13,14,15,16,17,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [60]:
df = df.loc[:, ~df.columns.str.startswith("Item")]

In [84]:
df.head(10)

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
df.shape

(9836, 170)

In [ ]:
df = df.loc[:, df.columns.str.strip() != ""] # a safe measure to remove empty sets of items that appeared preiously in the apriori table

In [ ]:
# applying the apriori algorithm using 2% support
frequent_itemsets = apriori(df, min_support=0.02, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

/Users/umar/Documents/Data Mining/market-basket-analysis/Code/.venv/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                         itemsets  length
0    0.033449                                       (UHT-milk)       1
1    0.052460                                           (beef)       1
2    0.033245                                        (berries)       1
3    0.026027                                      (beverages)       1
4    0.080521                                   (bottled beer)       1
..        ...                                              ...     ...
117  0.032229                 (whipped/sour cream, whole milk)       2
118  0.020740                     (yogurt, whipped/sour cream)       2
119  0.056019                             (yogurt, whole milk)       2
120  0.023180  (root vegetables, other vegetables, whole milk)       3
121  0.022265           (other vegetables, yogurt, whole milk)       3

[122 rows x 3 columns]

In [71]:
# sorting the dataframe
frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)

In [ ]:
# finding top 10 items with minimum support of 5%
frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.05) ][0:10]

     support            itemsets  length
57  0.255490        (whole milk)       1
39  0.193473  (other vegetables)       1
43  0.183916        (rolls/buns)       1
49  0.174359              (soda)       1
58  0.139488            (yogurt)       1
5   0.110512     (bottled water)       1
44  0.108987   (root vegetables)       1
53  0.104921    (tropical fruit)       1
47  0.098516     (shopping bags)       1
46  0.093941           (sausage)       1

In [82]:
frequent_itemsets[(frequent_itemsets['length'] > 1) & 
                  (frequent_itemsets['support'] >= 0.01)]

      support                             itemsets  length
91   0.074827       (other vegetables, whole milk)       2
103  0.056629             (rolls/buns, whole milk)       2
119  0.056019                 (yogurt, whole milk)       2
106  0.048902        (root vegetables, whole milk)       2
85   0.047377  (root vegetables, other vegetables)       2
..        ...                                  ...     ...
75   0.020537            (frankfurter, whole milk)       2
60   0.020435           (bottled beer, whole milk)       2
76   0.020435      (frozen vegetables, whole milk)       2
96   0.020435          (pip fruit, tropical fruit)       2
67   0.020028           (other vegetables, butter)       2

[63 rows x 3 columns]

In [ ]:
rules = association_rules(frequent_itemsets, metric='support', min_threshold=0.02) #MLxtend added zhangs_metric by default and it is not a problem!
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(other vegetables),(whole milk),0.193473,0.255490,0.074827,0.386758,1.513788,0.025397,1.214055,0.420823
1,(whole milk),(other vegetables),0.255490,0.193473,0.074827,0.292877,1.513788,0.025397,1.140575,0.455878
2,(rolls/buns),(whole milk),0.183916,0.255490,0.056629,0.307905,1.205154,0.009640,1.075734,0.208595
3,(whole milk),(rolls/buns),0.255490,0.183916,0.056629,0.221647,1.205154,0.009640,1.048476,0.228648
4,(yogurt),(whole milk),0.139488,0.255490,0.056019,0.401603,1.571895,0.020381,1.244175,0.422801
...,...,...,...,...,...,...,...,...,...,...
129,(whole milk),(frozen vegetables),0.255490,0.048089,0.020435,0.079984,1.663263,0.008149,1.034668,0.535617
130,(pip fruit),(tropical fruit),0.075641,0.104921,0.020435,0.270161,2.574909,0.012499,1.226407,0.661687
131,(tropical fruit),(pip fruit),0.104921,0.075641,0.020435,0.194767,2.574909,0.012499,1.147941,0.683333
132,(other vegetables),(butter),0.193473,0.055409,0.020028,0.103521,1.868312,0.009308,1.053668,0.576245
133,(butter),(other vegetables),0.055409,0.193473,0.020028,0.361468,1.868312,0.009308,1.263096,0.492020

In [88]:
rules.sort_values(by='confidence', ascending=False)[0:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
96,"(other vegetables, yogurt)",(whole milk),0.043412,0.255490,0.022265,0.512881,2.007439,0.011174,1.528393,0.524628
50,(butter),(whole milk),0.055409,0.255490,0.027552,0.497248,1.946251,0.013395,1.480868,0.514711
60,(curd),(whole milk),0.053274,0.255490,0.026129,0.490458,1.919676,0.012518,1.461136,0.506037
86,"(root vegetables, other vegetables)",(whole milk),0.047377,0.255490,0.023180,0.489270,1.915027,0.011076,1.457738,0.501577
87,"(root vegetables, whole milk)",(other vegetables),0.048902,0.193473,0.023180,0.474012,2.450019,0.013719,1.533358,0.622270
38,(domestic eggs),(whole milk),0.063440,0.255490,0.029992,0.472756,1.850391,0.013783,1.412080,0.490704
30,(whipped/sour cream),(whole milk),0.071675,0.255490,0.032229,0.449645,1.759933,0.013916,1.352782,0.465135
6,(root vegetables),(whole milk),0.108987,0.255490,0.048902,0.448694,1.756210,0.021057,1.350448,0.483261
8,(root vegetables),(other vegetables),0.108987,0.193473,0.047377,0.434701,2.246833,0.026291,1.426728,0.622807
128,(frozen vegetables),(whole milk),0.048089,0.255490,0.020435,0.424947,1.663263,0.008149,1.294681,0.418917

In [89]:
rules[(rules['support'] >= 0.02) &
      (rules['lift'] > 1.0)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(other vegetables),(whole milk),0.193473,0.255490,0.074827,0.386758,1.513788,0.025397,1.214055,0.420823
1,(whole milk),(other vegetables),0.255490,0.193473,0.074827,0.292877,1.513788,0.025397,1.140575,0.455878
2,(rolls/buns),(whole milk),0.183916,0.255490,0.056629,0.307905,1.205154,0.009640,1.075734,0.208595
3,(whole milk),(rolls/buns),0.255490,0.183916,0.056629,0.221647,1.205154,0.009640,1.048476,0.228648
4,(yogurt),(whole milk),0.139488,0.255490,0.056019,0.401603,1.571895,0.020381,1.244175,0.422801
...,...,...,...,...,...,...,...,...,...,...
129,(whole milk),(frozen vegetables),0.255490,0.048089,0.020435,0.079984,1.663263,0.008149,1.034668,0.535617
130,(pip fruit),(tropical fruit),0.075641,0.104921,0.020435,0.270161,2.574909,0.012499,1.226407,0.661687
131,(tropical fruit),(pip fruit),0.104921,0.075641,0.020435,0.194767,2.574909,0.012499,1.147941,0.683333
132,(other vegetables),(butter),0.193473,0.055409,0.020028,0.103521,1.868312,0.009308,1.053668,0.576245
133,(butter),(other vegetables),0.055409,0.193473,0.020028,0.361468,1.868312,0.009308,1.263096,0.492020